{% extends "admin/login.html" %}

{% block title %}Register | LabRemote{% endblock %}

{% block branding %}{% endblock %}

{% block content_title %}
<center>LabRemote | Register</center>
{% endblock %}

{% block content %}
      <form action="." method="post">

 {% csrf_token %}
  <div class="form-row"> 
    {{ form.username.label_tag }}: {{ form.username }} {{ form.username.errors }}
  </div> 
  <div class="form-row"> 
    {{ form.email.label_tag }}: {{ form.email }} {{ form.email.errors }}
  </div> 
  <div class="form-row"> 
    {{ form.first_name.label_tag }}: {{ form.first_name }} {{ form.first_name.errors }}
  </div> 
  <div class="form-row"> 
    {{ form.last_name.label_tag }}: {{ form.last_name }} {{ form.last_name.errors }}
  </div> 
  <div class="form-row"> 
    {{ form.password1.label_tag }}: {{ form.password1 }} {{ form.password1.errors }}
  </div> 
  <div class="form-row"> 
    {{ form.password2.label_tag }}: {{ form.password2 }} {{ form.password2.errors }}
  </div> 
  <div class="submit-row"> 
    <label>&nbsp;</label><input type="submit" value="Create the account" />
  </div> 
  
<center>&nbsp;<br/>
or <a href="{% url django.contrib.auth.views.login %}">login</a>
</center>
{% endblock %}
