{% extends 'base.html' %}

{% block title %}{{ block.super }} | Assistants{% endblock %}

{% block css %}#menu-assistants {background-color: #eee;}{% endblock %}

{% block content %}
<h2>{% block content_title %}Assistants{% endblock %}</h2>
<table class="object_list">
    <tr>
       <th>name</th>
       <th>username</th>
       <th>approved</th>
       <th>courses</th>
       <th>groups</th>
    </tr>
{% for d in assistants %}
    <tr>
        <td>
        <a href="/crud/update/assistant/{{ d.id }}/">{{ d.first_name }} {{ d.last_name }}</a></td>
        <td>{{ d.profile.user.username}}</td>
        <td>{% if d.profile.approved %}yes{% else %}<strong>no</strong>{% endif %}</td>
        <td>{% for course in d.courses.all %}<a href="/crud/update/course/{{course.id}}/">{{ course }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</td>
        <td>{% for group in d.groups.all %}<a href="{% url middleware.frontend.views.group_view request.session.course.id group.id %}">{{ group }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</td>
        <td align="center" class="actions">
        {% block action_buttons %}
        {% if d.profile %}
        <a href="{% url middleware.frontend.views.assistant_approve request.session.course.id d.id %}">Approve</a>
        {% endif %}
        <a href="/crud/update/assistant/{{ d.id }}/">Edit</a>
        {% endblock %}
        </td>
    </tr>
{% endfor %}
</table>

{% block bottom_buttons %}
{% endblock %}

{% endblock %}

