{% extends 'base.html' %}

{% block title %}{{ block.super }} | Assistants{% endblock %}

{% block css %}#menu-assistants {background-color: #eee;}{% endblock %}

{% block content %}
<h2>{% block content_title %}Assistants{% endblock %}</h2>
<table class="object_list">
    <tr>
       <th>name</th>
       <th>approved</th>
       <th>groups</th>
    </tr>
{% for d in assistants %}
    <tr>
        <td>
        <a href="{% url middleware.frontend.views.student_profile request.session.course d.id %}">{{ d.first_name }} {{ d.last_name }}</a></td>
        <td>{% if d.approved %}yes{% else %}<strong>no</strong>{% endif %}</td>
        <td>{{ d.groups.all }}</td>
        <td>
        {% block action_buttons %}
        {% endblock %}
        </td>
    </tr>
{% endfor %}
</table>

{% block bottom_buttons %}
{% endblock %}

{% endblock %}

