<html>
<head><title>{% block title %}LabRemote{% endblock %}</title>
<link rel="stylesheet" href="/media/styles.css" type="text/css" />
<style>
{% block css %}{% endblock %}
</style>
{% block javascript %}{% endblock %}
</head>

<body class="yui-skin-sam">
<div id="container">
 <div id="header">
 {% if user.is_authenticated %}
 <div id="user_bar">Hello <strong>{{ user.username }}</strong> 
 <a href="{% url middleware.frontend.views.course_select %}">{{ request.session.course.name }}</a>. 
 {% if user.is_superuser %}
 <a href="/admin/">Administration</a> |
 {% endif %}
 <a href="/accounts/logout/">Log out</a></div>
 </div>
 {% endif %}
 <h1><img src="/media/labremote.png" width="300" align="baseline" /></h1>
 
 {% if request.session.course %}
 <div id="menu">
 {% if user.get_profile.assistant.is_updater %}
    <div class="menu-right">
    <a href="{% url middleware.frontend.views.assistants request.session.course.id %}" id="menu-assistants">Assistants
    {% if user.get_profile.get_new_count %}
        <sup class="new">&nbsp;{{ user.get_profile.get_new_count }}&nbsp;</sup>
    {% endif %}
    </a>
    <a href="{% url middleware.frontend.views.courses request.session.course.id %}" id="menu-courses">Courses</a>
    </div>
 {% endif %}
 <a href="{% url middleware.frontend.views.dashboard request.session.course.id %}" id="menu-dashboard">Dashboard</a>
 <a href="{% url middleware.frontend.views.students_list request.session.course.id %}" id="menu-students">Students</a>
 <a href="{% url middleware.frontend.views.groups_index request.session.course.id %}" id="menu-groups">Groups</a>
 <a href="{% url middleware.frontend.views.timetable request.session.course.id %}" id="menu-timetable">Timetable</a>
 </div>
 {% endif %}
  
  <div id="content">
 {% block content %}
 {% endblock %}
 </div>

</div>
 
 <div id="footer">
 &copy; <a href="http://labremote.korect.ro/">LabRemote</a> Team, KSS 2010</div>
</div>
</body></html>
