<html>
<head><title>{% block title %}LabRemote{% endblock %}</title>
<link rel="stylesheet" href="/media/styles.css" type="text/css" />
</head>

<body>
<div id="container">
 <div id="header">
 <div id="user_bar">Hello <strong>{{ user.username }}</strong> {{ request.session.course }}. 
 {% if user.is_superuser %}
 <a href="/admin/">Administration</a> |
 {% endif %}
 <a href="/accounts/logout/">Log out</a></div>
 <h1><img src="/media/labremote.png" width="300" align="baseline" /></h1>
 </div>
 
 <div id="menu">
 {% if request.session.course %}
 <a href="{% url middleware.frontend.views.dashboard request.session.course %}">Dashboard</a>
 <a href="{% url middleware.frontend.views.students_list request.session.course %}">Students</a>
 <a href="{% url middleware.frontend.views.groups_index request.session.course %}">Groups</a>
 <a href="{% url middleware.frontend.views.timetable request.session.course %}">Timetable</a>
 {% if user.get_profile.assistant.is_updater %}<a href="{% url middleware.frontend.views.assistants request.session.course %}">Assistants</a>
    {% if user.get_profile.get_new_count %}
        <sup class="new">{{ user.get_profile.get_new_count }} new</sup>
    {% endif %}
 {% endif %}
 {% endif %}
 </div>
 
  <div id="content">
 {% block content %}
 {% endblock %}
 </div>

</div>
 
 <div id="footer">
 &copy; KSS 2010</div>
</div>
</body></html>
