{% extends "base.html" %}

{% block title %}{{ block.super }} | Select course to manage:{% endblock %}

{% block content %}

{% if courses %}
<p>Select a course to manage:</p>
<ul>
{% for course in courses %}
    <li><a href="{{ course.id }}/">{{ course.name }} - {{ course.title }}</a></li>
{% endfor %}
</ul>
{% else %}
{% if not request.user.is_staff %}
You are not enroled to any course. Please wait for another teaching assistant
to validate your account.
{% endif %}
{% endif %}

{% if request.user.is_staff %}
<p>Initialize new course / moodle connection:</p>
<ul>
    <li><a href="/import_course/?step=1">Import course</a></li>
</ul>
{% endif %}

{% endblock %}

