{% extends 'base.html' %}

{% block title %}{{ block.super }} | Courses{% endblock %}

{% block css %}#menu-courses {background-color: #eee;}{% endblock %}

{% block content %}
<h2>{% block content_title %}Courses{% endblock %}</h2>
<table class="object_list">
    <tr>
       <th>name</th>
       <th>title</th>
       <th>groups</th>
       <th>students</th>
    </tr>
{% for d in courses %}
    <tr>
        <td>
        <a href="/crud/update/course/{{ d.id }}/">{{ d.name }}</a></td>
        <td>{{ d.title}}</td>
        <td>{% for group in d.group_set.all %}{{ group }}{% if not forloop.last %}, {% endif %} {% endfor %}</td>
        <td>{% for student in d.students.all %}<a href="{% url middleware.frontend.views.student_profile request.session.course.id student.id %}">{{ student.name }}</a>{% if not forloop.last %}, {% endif %} {% endfor %}</td>
        <td align="center" class="actions" nowrap>
        {% block action_buttons %}
        <a href="/crud/update/course/{{ d.id }}/">Edit</a>
        <a href="/crud/delete/course/{{ d.id }}/">Delete</a>
        {% endblock %}
        </td>
    </tr>
{% endfor %}
</table>

{% block bottom_buttons %}
{% endblock %}

{% endblock %}

