{% extends 'base.html' %}

{% block title %}{{ block.super }} | Dashboard{% endblock %}

{% block css %}#menu-dashboard {background-color: #eee;}{% endblock %}

{% block content %}
<h2>Dashboard</h2>
    {% if user.get_profile.assistant %}
    <div class="login_code">
        Scan the code below to authenticate yourself on the Andorid smartphone<br/>
        <img src="http://chart.apis.google.com/chart?cht=qr&chs=250x250&chl={{ user.get_profile.assistant.code }}" />
        <br/>
        <span>code: {{ user.get_profile.assistant.code }}</span>
    </div>
    
    Assistant: {{ user.get_profile.assistant }} <br/>
    Course: {{ request.session.course.name }} <br/>
    Groups: 
    {% for group in user.get_profile.assistant.groups.all %}
    <a href="{% url middleware.frontend.views.group_view request.session.course.id group.id %}">{{ group.name }}</a>
    {% endfor %} <br/>
    
    <h3>Today</h3>
    
    <p>Current week: {{ info.week }} <span class="info">({{ info.actual_week }})</span> Inactive: Week is {% if not info.inactive_week %} not {% endif %} inactive (e.g. in holiday)</p>
    
    <p>Current group: {{ info.activity.group }} <em>{{ info.activity }}</em> </p>
    
    
    <p style="clear:both"></p>
    {% endif %}
{% endblock %}

