{% extends 'base.html' %}

{% block title %}Grades for group {{ group_name }}{% endblock %}

{% block css %}#menu-groups {background-color: #eee;}{% endblock %}

{% block javascript %} 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/datatable/assets/skins/sam/datatable.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/container/assets/skins/sam/container.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>

<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/connection/connection-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/json/json-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/element/element-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/datatable/datatable-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.8.1/build/container/container-min.js"></script>
<script src="http://yui.yahooapis.com/2.8.1/build/dragdrop/dragdrop-min.js"></script>

 {% endblock %}

{% block content %}
<h2>{% block content_title %}Grades for group {{ group_name }}{% endblock %}</h2>

{% for activity in saved_activities %}
<h3>Attendance for activity during {{ activity.interval }} on {{ activity.day }}</h3>
<div id="cellediting"></div> 

<div class="tip">Tip: click on any of the grades to edit them!
        <button id="show1">Show week layout</button> 
</div>
    

<div id="json_{{ activity.activity.id }}"></div>

<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.XHR_JSON = function() {
        var submitter = function (callback, newValue) {
            var record = this.getRecord(),
                column = this.getColumn(),
                oldValue = this.value,
                datatable = this.getDataTable();
            
            YAHOO.util.Connect.asyncRequest(
                'POST',
                '/course/{{course.id}}/update_grade/{{activity.activity.id}}/'+record.getData('student_id')+'/'+column.key+'/', 
                {
                    success:function(o) {
                        var r = o.responseText;
                        if (r == "") {
                            var new_sum = record.getData('sum') + newValue - oldValue;
                            datatable.updateCell(record, 'sum', new_sum);
                            callback(true, newValue);
                        } else {
                            alert(r);
                            callback();
                        }
                    },
                    failure:function(o) {
                        alert(o.statusText);
                        callback();
                    },
                    scope:this
                },
                'new_grade='+newValue 
            );
        }
        var textEditor = new YAHOO.widget.TextboxCellEditor({ disableBtns: false, asyncSubmitter: submitter, validator:YAHOO.widget.DataTable.validateNumber});


        var myColumnDefs = [
            {key:"name", label:"Name", sortable:true},
            {% for week in weeks %}
                {% if week in inactive %}
                    {key:"week_{{ week }}", label:"{{ week }}", abbr: "Week {{ week }}", formatter:YAHOO.widget.DataTable.formatNumber, className: "inactive_column" },
                {% else %}
                    {key:"week_{{ week }}", label:"{{ week }}", abbr: "Week {{ week }}", formatter:YAHOO.widget.DataTable.formatNumber, editor: textEditor },
                {% endif %}
            {% endfor %}
            {key:"sum", label:"Sum", formatter:YAHOO.widget.DataTable.formatNumber },
        ];

        var myDataSource = new YAHOO.util.DataSource("/course/{{ course.id }}/get_activity/{{activity.activity.id}}/");
        myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
        myDataSource.connXhrMode = "queueRequests";
        myDataSource.responseSchema = {
            resultsList: "Results",
            fields: ["name",
                "student_id",
                {% for week in weeks %}
                    {key:"week_{{ week }}", parser:"number"},
                {% endfor %}
                {key: "sum", parser:"number"},
            ]
        };

        var myDataTable = new YAHOO.widget.DataTable("json_{{ activity.activity.id }}", myColumnDefs,
                myDataSource, {initialRequest:""});

        var mySuccessHandler = function() {
            this.set("sortedBy", null);
            this.onDataReturnAppendRows.apply(this,arguments);
        };
        var myFailureHandler = function() {
            this.showTableMessage(YAHOO.widget.DataTable.MSG_ERROR, YAHOO.widget.DataTable.CLASS_ERROR);
            this.onDataReturnAppendRows.apply(this,arguments);
        };
        var callbackObj = {
            success : mySuccessHandler,
            failure : myFailureHandler,
            scope : myDataTable
        };
        
        // Set up editing flow
        var highlightEditableCell = function(oArgs) {
            var elCell = oArgs.target;
            if(YAHOO.util.Dom.hasClass(elCell, "yui-dt-editable")) {
                this.highlightCell(elCell);
            }
        };
        myDataTable.subscribe("cellMouseoverEvent", highlightEditableCell);
        myDataTable.subscribe("cellMouseoutEvent", myDataTable.onEventUnhighlightCell);
        myDataTable.subscribe("cellClickEvent", myDataTable.onEventShowCellEditor);

                
        return {
            oDS: myDataSource,
            oDT: myDataTable
        };
    }();
});

</script>


{% endfor %}

<script type="text/javascript">

        function init() {
            YAHOO.example.panel1 = new YAHOO.widget.Panel("panel1", { width:"320px", visible:false, constraintoviewport:true, underlay:"shadow", draggable:"true" } );
            YAHOO.example.panel1.render();

            YAHOO.util.Event.addListener("show1", "click", YAHOO.example.panel1.show, YAHOO.example.panel1, true);

        }

        YAHOO.util.Event.addListener(window, "load", init);
</script>

    
    <div id="panel1">
        <div class="hd">Actual weeks:</div>
        <div class="bd">
            <table class="weeks_table">
            <tr>
                <th>Week no.</th>
                <th>Day start</th>
                <th>Day end</th>
            </tr>
            {% for week in week_legend %}
            {% if week.week in inactive %}
            <tr class="inactive_week">
            {% else %}
            <tr>
            {% endif %}
                <td> {{ week.week }} </td>
                <td> {{ week.start_date }} </td>
                <td> {{ week.end_date }} </td>
            </tr> 
            {% endfor %}
            </table>
        </div>
        <div class="ft"></div>
    </div>


{% endblock %}

