{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block css %}#menu-groups {background-color: #eee;}{% endblock %}

{% block content %}
<h2>{% block content_title %}Groups{% endblock %}</h2>

<table width="100%">
    <tr>
        <td width="50%" valign="top"> 
Moodle:
<table class="object_list">
    <tr>
       <th>group</th>
    </tr>
{% for d in moodle_groups %}
    <tr>
        <td>{{ d.group }}</td>
    </tr>
{% endfor %}
</table>
        </td>
        <td width="50%" valign="top">
LabRemote:
<table class="object_list">
    <tr>
       <th>group</th>
       <th>students</th>
       <th></th>
    </tr>
{% for d in groups %}
    <tr>
        <td>{{ d.name }}</td>
        <td align="center">{{ d.students.all|length }}</td>
        <td>
            <a href='/crud/update/group/{{ d.id }}/'>Edit</a>
            <a href='{% url middleware.frontend.views.group_students request.session.course d.id %}'>Students</a>
            <a href='/crud/delete/group/{{ d.id }}/'>Delete</a>
            <a href='{% url middleware.frontend.views.export_group_csv request.session.course d.id %}'>Export as CSV</a>
        </td>
    </tr>
{% endfor %}
</table>
            <a href='/crud/add/group/'>Add a new group</a>
        </td>
    </tr>
</table>

{% endblock %}

