{% extends 'base.html' %}

{% load uni_form_tags %}

{% block title %}{{ block.super }} | Edit {{object_name}}{% endblock %}

{% block css %}
    #menu-{{object_name}}s {background-color: #eee;}

{% endblock %}

{% block javascript%}
    <link rel="stylesheet" href="/media/uni_form/css/uni-form.css" type="text/css" />
    <link rel="stylesheet" href="/media/uni_form/css/blue.uni-form.css" type="text/css" />
<!--    <script src="/media/uni_form/js/uni-form.jquery.js" type="text/javascript"></script> -->
{% endblock %}

{% block content %}
<h2>{% block content_title %}{{ object_name }}{% endblock %}</h2>

<form action="" method="post" class="uniForm">
{% csrf_token %}
<fieldset class="inlineLabels">
{{ form|as_uni_form }}
</fieldset>
      <div class="buttonHolder">
        <button type="submit" class="secondaryAction">← Cancel and go back</button>
        <button type="submit" class="primaryAction">Submit</button>
      </div>
</form>

{% block bottom_buttons %}
{% endblock %}

{% endblock %}

