{% extends 'base.html' %}

{% block title %}Students{% endblock %}

{% block css %}#menu-students {background-color: #eee;}{% endblock %}

{% block content %}
<h2>{% block content_title %}Students{% endblock %}</h2>

<div class="pagination">
    <span class="step-links">
        {% if students.has_previous %}
            <a href="?page={{ students.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>

        {% if students.has_next %}
            <a href="?page={{ students.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<table class="object_list">
    <tr>
       <th>id</th>
       <th>student</th>
       <th>group</th>
       <th>virtual groups</th>
    </tr>
{% for d in students.object_list %}
    {% if d.external_id %}
    <tr>
        <td>{{ d.external_id }}</td>
        <td><img src="{{ d.avatar }}" width="40" valign="middle" />
        <a href="{% url middleware.frontend.views.student_profile request.session.course d.id %}">{{ d.first_name }} {{ d.last_name }}</a></td>
        <td>{{ d.group }}</td>
        <td>{{ d.groups }}</td>
        <td>
        {% block action_buttons %}
        {% endblock %}
        </td>
    </tr>
    {% endif %}
{% endfor %}
</table>

{% block bottom_buttons %}
{% endblock %}

<div class="pagination">
    <span class="step-links">
        {% if students.has_previous %}
            <a href="?page={{ students.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ students.number }} of {{ students.paginator.num_pages }}.
        </span>

        {% if students.has_next %}
            <a href="?page={{ students.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}

