{% extends 'base.html' %}

{% block title %}Student {{ student.name }}{% endblock %}

{% block css %}#menu-students {background-color: #eee;}{% endblock %}

{% block content %}
<div class="profile_picture"><img src="{{ student.avatar }}" /></div>

<h2>{{ student.name }}</h2>

<table>
    <tr>
        <td>Group </td>
        <td>{{ student.group }}, {% for group in student.groups %} {{ group }} {% if not forloop.last%}, {% endif %} {% endfor %} </td>
    </tr>
</table>

<h3>Attendance</h3>
{% if student.attendance %}
    <table class="object_list">
        <tr>
           <th>Attendance</th>
           <th>Week</th>
           <th>Grade</th>
        </tr>
    {% for d in student.attendance %}
        <tr>
            <td>{{ d }}</td>
            <td>{{ d.week }}</td>
            <td>{{ d.grade }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    There are no attendances for this student.
{% endif %}

{% block bottom_buttons %}
{% for g in student.groups %}
    <a href="{% url middleware.frontend.views.group_edit request.session.course.id g.id %}" class="button">Edit attendance {{ g.name }}</a>
{% endfor %}
{% endblock %}

{% endblock %}

