{% extends 'base.html' %}

{% block title %}Timetable{% endblock %}

{% block css %}#menu-timetable {background-color: #eee;}{% endblock %}

{% block content %}
<h2>{% block content_title %}Timetable{% endblock %}</h2>

<table class="weekdays timetable" style="width:100%;" cellpadding="0" cellspacing="0">
    <tr>
        <th>Hours</th>
        {% for day, activities in activities_per_day %}
        <th style="width:14%">
            {{ day }}
        </th>
        {% endfor %}
    </tr>
    <tr>
        <td style="height:{{ interval_height }}px;vertical-align:top;"> {{ min_hour }}</td>
        {% for day, activities in activities_per_day %}
            <td rowspan="{{ rows }}" style="vertical-align:top">
                {% if activities %}
                    {% for act in activities %}
                        <div style="position:relative; top:{{ act.position_start}}px; height:{{ act.height }}px; width:100%; text-align:center; background-color:#A9D0F5;"> {{ act.activity.group }} {{ act.activity.interval }}
                            <br />
                            {% block action_buttons %}
                            {% comment %} TODO: replace with buttons or icons{% endcomment %}
                            <a href="/crud/update/activity/{{ act.activity.id }}/">E</a>
                            <a href="/crud/delete/activity/{{ act.activity.id }}/">D</a>
                            {% endblock %}
                        </div>
                    {% endfor %}
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% for hour in range %}
        <tr>
            <td style="height:{{ interval_height }}px;vertical-align:top;"> {{ hour }} </td>
        </tr>
    {% endfor %}
</table>
<a href='/crud/add/activity/'>Add more activities</a>
{% block bottom_buttons %}
{% endblock %}

{% endblock %}

